.Movie {
  text-align: left;
}

.Movie-body {
  text-align: left;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Movie-link {
  color: #61dafb;
}

.Movie-review {
  display: inline-flexbox;
  text-align: left;
  padding: 50px;
}

.Movie-desc{
  display: inline-flexbox;
  text-align: left;
  padding: 20px
}

.Movie-poster {
  display: inline-flex;
  text-align: left;
  padding-top: 15;
  padding-bottom: 15;
  padding-left: 2;
  padding-right: 2;
}

.Movie-score {
  display: inline-flex;
  text-align: center;
  justify-self: flex-end;
  align-self: flex-end;
}

.Movie-score-text {
  text-align: center;
  padding-left: 15px;
  padding-top: 30%;
}

.dot {
  height: 250px;
  width: 250px;
  background-color: #3e5336;
  border-radius: 50%;
  display: inline-flex;
  offset-inline-start: 40px;
}

.Movie-poster-review-panel {
  display: flex;
  justify-content: space-between;
}

.side-recommended {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
