.profile {
  max-width: 1000px;
  min-height: 55vh;
  margin: auto;
}

.profile-header {
  padding-top: 10px;
}

span {
  font-size: 20px;
}

.profile .container {
  display: flex;
}

.info {
  flex: 3;
  margin: 50px;
  text-align: left;
}

.profile hr {
  border-top: 3px solid #3e5336;
  width: 90%;
}

.liked-section {
  flex: 2;
  margin-right: 50px;
  background-color: #3e5336;
  border-radius: 5px;
  color: white;
}

.liked-section h3 {
  padding-top: 5px;
}

.movies {
  padding: 0 5% 5% 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}

.poster {
  max-width: 70px;
  margin: 5px;
}

.poster:hover {
  border: 3px solid #e55b7e;
}
