.profile {
  max-width: 1000px;
  min-height: 55vh;
  margin: auto;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.profile-header {
  padding-top: 10px;
}

span {
  font-size: 20px;
}

.profile .container {
  display: flex;
}

.info {
  flex: 3;
  margin: 50px;
  text-align: left;
}

.liked {
  flex: 2;
}

.profile hr {
  border-top: 3px solid #3e5336;
  width: 90%;
}

.liked-section {
  margin-right: 50px;
  background-color: #3e5336;
  border-radius: 5px;
  color: white;
  height: 100%;
}

.poster {
  max-width: 50px;
}
